extend ./../layout

block content
    h1.page-header Access logs

    table#logs.table.table-striped.table-bordered.table-hover
        thead
            tr
                th Time
                th IP
                th User
                th Method
                th URI
        tbody
