.bgrd-img
  background url(/img/logos/nodejs.png) no-repeat
  background-position 5% 37%
  bottom 0
  left 0
  opacity .2
  position fixed
  right 0
  top 0
  z-index -1

.bg-danger
  border 1px solid #a40000
  border-radius 5px
  color #a40000
  padding 10px 15px

#header
  .navbar-brand
    margin-left 0
    padding-bottom 0
    padding-top 0

    @media (min-width 765px)
      padding-left 0

    img
      height 50px
      display inline-block

#content
  margin-top 50px

.form-signin
  max-width 330px
  padding 15px
  margin 0 auto

  button
    border none
    height 44px
    margin-top 20px

  input
    height 44px
    margin-top 20px

  .has-error
    border-color #a40000

#footer
  background-color #f5f5f5
  bottom 0
  height 60px
  left 0
  position fixed
  right 0
  line-height 60px

  .github-icon
    margin 0
    margin-left 20px
    margin-top -5px

  #github
    float right
    a
      color inherit

.github-icon
  width 25px
  height 25px

.error-page
  background linear-gradient(45deg, rgba(24, 68, 130, 1) 0%, rgba(21, 93, 166, 1) 53%, rgba(22, 113, 170, 1) 99%)
  display table
  height 100%
  position fixed
  text-align center
  width 100%

.error-page, .error-page h1, .error-page p
  color #fff
  text-shadow 1px 1px 2px rgba(43, 43, 43, 1)

.error-msg
  display table-cell
  vertical-align middle

.loader
  background-color #fff
  color #000
  bottom 0
  height auto
  left 0
  position fixed
  right 0
  top 0
  width auto

  p
    padding-bottom 30px
    text-align center
    text-transform capitalize
    font-size 24px
    color #194A87

.loader-wrapper
  box-shadow 0 3px 10px #837D7D
  border-radius 2px
  margin 200px auto 0 auto
  margin-left 40%
  padding 50px
  position absolute

.spinner
  margin 25px auto
  width 40px
  height 10px
  font-size 10px

  > div
    height 100%
    width 100%
    display block
    margin-bottom 0.6em
    -webkit-animation stretchdelay 1.2s infinite ease-in-out
    animation stretchdelay 1.2s infinite ease-in-out

  .rect2
    -webkit-animation-delay -1s
    animation-delay -1s

  .rect3
    -webkit-animation-delay -0.8s
    animation-delay -0.8s

@-webkit-keyframes stretchdelay
  0%, 40%, 100%
    -webkit-transform scaleX(0.8)
    background-color #184885
    box-shadow 0 0 0 rgba(10, 10, 10, .1)
  20%
    -webkit-transform scaleX(1)
    background-color #3BA2D8
    box-shadow 0 5px 6px rgba(10, 10, 10, .4)

@keyframes stretchdelay
  0%, 40%, 100%
    background-color #184885
    transform scaleX(0.8)
    -webkit-transform scaleX(0.8)
    box-shadow 0 0 0 rgba(10, 10, 10, .1)
  20%
    background-color #3BA2D8
    transform scaleY(1)
    -webkit-transform scaleX(1)
    box-shadow 0 5px 6px rgba(10, 10, 10, .4);

#logs
  td.btn
    border: none;
    margin: 2px auto 1px auto;
    width: 100%;
