doctype
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='app.css')
    body
        .bgrd-img
        include ./includes/header.jade

        #content.container
            block content

        include ./includes/footer.jade
