doctype
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='app.css')
    body
        .container.error-page
            .error-msg
                h1 Oups! 404 error.
                p
                    | Your page has not been found. Go back to#{' '}
                    a(href='/') Home page
                    | .
