doctype
html(lang="en")
    head
        include ./../includes/head
    body
        .container.error-page
            .error-msg
                h1 Oups! 404 error.
                p
                    | Your page has not been found. Go back to#{' '}
                    a(href='/') Home page
                    | .
