doctype
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='app.css')
    body
        .container.error-page
            h1 Oups! 404 error.
            p
                | Your page has not beend found. Go back to#{' '}
                a(href='/') Home page
                | .
